
@{
    ViewData["Title"] = "文件下载";
    Layout = "~/Views/NetworkDisk/_Layout.cshtml";
    var files = ViewData["files"] as System.IO.FileInfo[];
}
<h2>文件下载</h2>
@{
    if (files != null && files.Any())
    {

        <table>
            <tr>
                <td>文件</td>
                <td>操作</td>
            </tr>
            @{foreach (var file in files)
                {
                    <tr>
                        <td>@file.Name</td>
                        <td><a href="Document/Download?filePath=@file.DirectoryName&fileName=@file.Name">下载</a></td>
                    </tr>
                }
            }
        </table>}
}

