
@{
        ViewData["Title"] = "文件上传";
        Layout = "~/Views/NetworkDisk/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form asp-action="UploadFiles" asp-controller="FileUploadAndDownLoad" method="post" enctype="multipart/form-data">
        <input type="file" name="files" multiple />
        <input type="submit" value="上传选择文件" />
    </form>
</body>
</html>
